:root{
  --darkbackground: #16191C;
  --lightbackground: #f4f4f7;
  --primary: #fbe133;
  --critical: 0;
  --severe: 31;
  --serious: 48;
  --stable: 100;
  --info: 192;
  --saturation: 100%;
  --lightness: 85%;
  --dark: 30%;
  --textdark: 20%;
  --textinverse: 98%;
  --spacing: 1rem;
  --typography-spacing-vertical: 1.5rem;
  --block-spacing-vertical: calc(var(--spacing) * 3);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
}
body{margin:0 auto;font-size: 16px;background-color: var(--lightbackground);color: #313e49;}
a{text-decoration: none;}
.content a {color:#172c40;border-bottom: 1px dashed #172c40;}
a.readmore{padding: 6px 10px;color:#fff;background-color: #172c40;border-radius: 3px;}
a.readmore::after{content: " ►";}
a.readmore:hover{background-color: #143453;}
.card a.readmore{    box-shadow: 0px 1px 2px #8ba3b9;}

.grid-container{
  display:grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows:150px auto auto;
  grid-template-columns: 1fr;
  height: 100vh;
}
/** containers and grids are pico css
https://github.com/picocss/pico/blob/master/css/pico.css
* Container
*/
.container,
.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}
.container-1200{max-width: 1200px;margin: auto;padding: 0px 1rem}
.container-960{max-width: 960px;margin: auto;padding: 0px 1rem}
.container-780{max-width: 780px;margin: auto;padding: 0px 1rem}

@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}

.section {
  margin-bottom: var(--block-spacing-vertical);
}

.grid, .grid-two, .grid-three {
  grid-column-gap: var(--grid-spacing-horizontal);
  grid-row-gap: var(--grid-spacing-vertical);
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}
@media (min-width: 992px) {
  .grid {grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));}
  .grid-two {grid-template-columns: 1fr 1fr;}
  .grid-three {grid-template-columns: 1fr 1fr 1fr;}
}

.grid > * {
  min-width: 0;
}

img{width: 100%;}

.header{background-color: var(--darkbackground);color:#e0e1e9;display:flex;align-items: stretch;justify-content: space-between;}
h1, h2, h3, h4 {color: #2b353e;} h1{font-size:3.2em;}h2{font-size: 2.4em;} h3{font-size: 1.8em;}
.content{padding: 0rem;font-family: Tahoma,Optima,sans-serif;}
.content h1, .content h2, .content h3{line-height: 1.2em;}
::selection {background: var(--primary);}
.footer { background-color: #D9AFD9;background-image: linear-gradient(0deg, #050606 0%, #1d2226 100%); color: #cccccc; margin-top: 200px; padding-bottom: 1em;}
.footer-badge {width: 300px;position: absolute;left: calc(50% - 150px);margin-top: calc(0px - 130px);
  filter: drop-shadow(4px 10px 5px #050606) drop-shadow(6px 14px 8px #05060644) saturate(0.7);transition: .1s;transition-timing-function: linear;}
.footer-badge:hover {margin-top: calc(0px - 132px);filter: drop-shadow(6px 12px 6px #050606) drop-shadow(8px 16px 10px #05060644) saturate(.9);}
.footer>div{padding: 140px 2em 1em 2em;line-height: 1.8;color:#62707d}
.footer * {text-align: center;}
.footer h3{margin-top: 0;color:#62707d;}
.footer a{color:#d4d4dc;}
.footer a:hover{color:#fff;text-shadow: 0px 0px 3px #ffde01cc;}
address{font-style: normal;}
ul {list-style-type: none;padding-left: 0;}
li {line-height: 1.5em;}
.copy{font-size: .8em;color:#aaa;text-align: center;margin:0;color:#62707d;}
.logowrap{display:flex;flex-grow: 1;place-items:center;padding-left: 2em;}
.logo{font-size:4em;font-weight: 600;font-family: serif;letter-spacing: 5px;text-shadow: 3px 3px 2px #414352;}
.logowrap a{color:#e0e1e9;}
.logowrap img{width: 100px;padding-left: 1em;margin-top: 1em;}
.nav-wrap{display:flex;justify-content: flex-end;flex-grow: 2;}
nav{display:block;height: 100%;background-color: var(--darkbackground);}
nav ul{display: grid;display: grid;grid-auto-flow: column;place-items:center;height: 100%;margin:0;padding: 0;}
nav li{list-style: none;height: 100%;display: grid;place-items:center;border-left: 1px solid #242a30;}
nav a{height: 100%; display: grid;place-items: center;padding: 0em 2em; font-size: 1.8em;color:#d4d4dc;text-decoration: none;}
nav a:hover{background-color: #0f1113;color:var(--primary);text-shadow: 1px 1px 3px #ffffffcc;border-bottom:6px solid var(--primary);}
h1.byline{font-size: 2vw;text-align: center;font-variant: all-small-caps;font-weight: 600;margin: 0;background-color: #0a0b0c;color: #88949e;border-top: 1px solid #242a30;line-height: 3.5vw;}


/* alerts are top banner, dismissable */
.alerts{position:relative;display:block;;margin:auto;overflow: hidden;}
.alert{margin:0;display:grid;grid-template-columns: auto 48px;}
.alerts div{width: 100%;min-height: 40px;align-items: center;padding-left: 1em;font-size: 1.2em;font-weight: 600;}
.alert button {
background-color: inherit;
	border: 0;
	border-radius: 100%;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 24px;
	line-height: 20px;
	margin-top: -12px;
	right: 10px;
	position: absolute;
	top: 50%;
	width: 24px;
}
.alert button::after{content: '╳'}
.alert button:focus {
	outline: none;
}
/* BOOMs aka in-page alerts*/
.critical{background-color: hsl(var(--critical), var(--saturation), var(--lightness));color: hsl(var(--critical), var(--saturation), var(--textdark));}
.severe{background-color: hsl(var(--severe), var(--saturation), var(--lightness));color: hsl(var(--severe), var(--saturation), var(--textdark));}
.serious{background-color: hsl(var(--serious), var(--saturation), var(--lightness));color: hsl(var(--serious), var(--saturation), var(--textdark));}
.stable{background-color: hsl(var(--stable), var(--saturation), var(--lightness));color: hsl(var(--stable), var(--saturation), var(--textdark));}
.info{background-color: hsl(var(--info), var(--saturation), var(--lightness));color: hsl(var(--info), var(--saturation), var(--textdark));}

.critical-inverse{background-color: hsl(var(--critical), var(--saturation), var(--dark));color: hsl(var(--critical), var(--saturation), var(--textinverse));}
.severe-inverse{background-color: hsl(var(--severe), var(--saturation), var(--dark));color: hsl(var(--severe), var(--saturation), var(--textinverse));}
.serious-inverse{background-color: hsl(var(--serious), var(--saturation), var(--dark));color: hsl(var(--serious), var(--saturation), var(--textinverse));}
.stable-inverse{background-color: hsl(var(--stable), var(--saturation), var(--dark));color: hsl(var(--stable), var(--saturation), var(--textinverse));}
.info-inverse{background-color: hsl(var(--info), var(--saturation), var(--dark));color: hsl(var(--info), var(--saturation), var(--textinverse));}

.boom{display: grid;grid-template-columns: minmax(min-content, 120px) auto;margin:1.5em 0;}
.boom aside{display: grid;place-items: center;padding:1em;text-transform: uppercase;font-size: 1.5em;font-weight: 600;text-align: center;-webkit-text-stroke: 1px #ddddddcc;background-color: var(--darkbackground);}
.boom article {display: flex;flex-direction: column;justify-content: center;padding: .5em 1.5em;background-color: #ffffff;}
.boom article h4{margin: .5em 0; color: hsl(var(--hue), var(--saturation), 30%);}
.boom article p{margin: .5em 0; color: hsl(var(--hue), var(--saturation), 40%);}
.boom .button{width:max-content;padding: .5em 1.5em;background-color: var(--darkbackground);color:var(--primary);border-radius: 3px;}
.boom .button:hover{border:1px solid var(--darkbackground);background-color: var(--primary); color:var(--darkbackground);}
/* end BOOMs */



.commisioners .bio{line-height: 1.5em;}
.officers .person{
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 240px;
  column-gap: 0;
  row-gap: 1em;
  margin-bottom: 3em;
}
.person_graphic {display: inline-block;overflow: hidden;}
.person_graphic img{width: 100%;height: auto;}
.person_text{padding-left: 2em;display:flex;flex-direction: column;align-content: space-between;}
.person_text p{display:flex;flex-grow: 1;}
span.rank{font-size: 2em;padding-right: .8vw;font-variant: small-caps;color:#556573;}
span.name{font-size: 2em;font-weight: 600;}
.volunteer{display: flex;
    flex-direction: row;
    align-content: flex-start;
    height: 24px;
    padding: .5em;
    font-size: 1.2em;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    border-bottom: 1px solid #ddd;
  }
.people li{font-size: 1.2em;}
.volunteer .badges {display: flex;align-self: center;margin-left: 3em;}
.officers .badges {display: flex;align-self: start;}
hr{margin:4em 6em;border-top: 1px solid #ccc;}

.badge{padding: .3em; color: #ffffff;border-radius: 50%; background-color: #303030; font-size: .9rem;margin-right: .5rem;line-height: 1px;}
.badge img{width:18px;}
.badge_ff{background-color:#660b05;}
.badge_emt{background-color:#191954;}
.badge_paramedic{background-color:#234bb0;}
.badge_nurse{background-color:#194fd7;}
.badge_wildland{background-color:#196118;}
.badge_structure{background-color:#533805;}
.badge_water{background-color:#0e5359;}
.badge_rope{background-color:#5b543f;}

.station{padding:1em;background-color: #ffffff88;border: 1px dotted #ccc;}
.station address{font-family: monospace;line-height: 1.5em;}

.service{display: grid;grid-template-columns: 360px 1fr;grid-template-rows: 240px;column-gap: 0;row-gap: 1em;margin-bottom: 3em;}
.service-image {display: inline-block;overflow: hidden;height:240px;}
.service-image img{width: 100%;height: auto;}
.service-desc{padding-left: 2em;}


.news{padding: 3em;font-size: 1.2em;line-height: 1.6em;background-color: #f7f7fa;margin-top: 2em;box-shadow: 3px 5px 8px #16191c55;}
.news h2{line-height: 1.2em;}
.event {margin-top: 3em;min-height: 120px;}
.event-calendar {float: left;max-width: 120px;display: flex;flex-direction: column;text-align: center;margin-right: 2em;}
.event-date {background: #b3c9e0;font-size: 42px;width: 120px;height: 50px;line-height: 50px;font-weight: 600;border-radius: 4px 4px 0px 0px;}
.event-dow {background: #16191c;color: #dee7f1;height: 20px;width: 120px;text-transform: uppercase;font-size: 14px;line-height: 20px;}
.event-month {background: #8ea4bb;font-size: 42px;width: 120px;height: 50px;text-transform: uppercase;line-height: 50px;border-radius: 0px 0px 4px 4px;}
.event-data span {line-height: 1.5em}
.event article{clear: both;padding-top: 1em;}

h3.event-title {
  padding: 0px;
}
@media (max-width: 968px) {
  .service{grid-template-columns: 210px 1fr;place-items:center}
  .service-image {height:140px;}
  h3{margin-top: 0px;margin-bottom: .5em;}
}
@media (max-width: 800px) {
  .service{grid-template-columns: 1fr;grid-template-rows:auto;row-gap: 0em;}
  .service-image {height:auto;}
  h3{margin-top: .4em;margin-bottom: .2em;}
  .service-desc{padding: .5em;}
}

.page-caption{font-size: 1.2em;padding: 1em 1.5em;background-color: #ffffff88; border-left: 2px solid var(--darkbackground);}
.line-clamp-3 {display: -webkit-box;-webkit-box-orient: vertical; -webkit-line-clamp: 3; overflow: hidden;}

/* HERO */
.hero-background{height: 520px;background-size: cover;display: grid;place-items: center;}
.hero-cta{max-width: 400px;width:fit-content;}
.hero-cta p {font-family: copperplate,sans-serif;color:var(--lightbackground);text-shadow: 2px 2px 3px #12161c;font-size: 2.4em;font-weight: 600;text-decoration: none;text-align: center;}
.btnActionHome {
width: fit-content;
padding: .6em 1.6em;
color: #fff;
font-weight: 400;
font-size: 2em;
background-color: #12161c;
line-height: 1;
text-transform: uppercase;
cursor: pointer;
display: block;
margin: auto;
text-decoration: none;
text-align: center;
}
.btnActionHome:hover {background-color: #0f1113;color:#f6f55a;cursor: pointer;}
/* HERO END */



@media (max-width: 968px) {
 .header { flex-direction: column; }
 .logowrap{padding-left: 0; margin: auto;text-align: center;}
 .nav-wrap{justify-content: space-evenly;padding:1em ; flex-shrink: 1;padding:0px;margin-top: 1em;border-top: 1px dashed #eeeeee44;}
 nav{width: 100%;height:40px;}
 nav ul{display: flex;}
 nav li {display: flex;flex-basis: 33%;border:0;}
 nav a {width: 100%; padding:0 1em ;}
}
.card {
  position: relative;
  margin: 2em 1em;
  background-color: #121315;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 1em;
  color: #fff;
}
.card .card-image {position: relative;
width: 100%;
height: 0;
padding-bottom: 60%;
overflow: hidden;
border-top-left-radius: .5em;
border-top-right-radius: .5em;}
.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card .card-image .card-title {
  color: var(--lightbackground);
  text-shadow: 1px 2px 2px var(--darkbackground)e8;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: #12131554;
}
.card .card-title {font-size: 24px;font-weight: 400;}
.card .card-content {padding: 0px 1em 1em;height: 100px;}

.card .card-action {
background-color: inherit;
border-top: 1px solid rgba(160,160,160,0.2);
position: relative;
padding: 16px 24px;
}
