{{- define "main" -}}
  <div class="container container-1200">
	  <h2>{{ default "About GVFD" .Site.Data.about.about_group.about_title }}</h2>

	  <div class="section">
	    <div class="grid">
        <div>
          <h3>People</h3>
          <p>{{ .Site.Data.about.link_group.people_blurb }}</p>
          <a href="{{ .Site.BaseURL  }}people/" class="readmore">Meet your GVFD</a>
        </div>

        <div>
          <h3>Assets</h3>
          <p>{{ .Site.Data.about.link_group.assets_blurb }}</p>
          <a href="{{ .Site.BaseURL  }}assets/" class="readmore">See our tools</a>
        </div>

        <div>
          <h3>Services</h3>
          <p>{{ .Site.Data.about.link_group.services_blurb }}</p>
          <a href="{{ .Site.BaseURL  }}services/" class="readmore">Learn More</a>
        </div>

      </div>
    </div>

	  <div class="section">
        <h3>{{ .Site.Data.about.about_group.detail_title }}</h3>
        {{ .Site.Data.about.about_group.detail_body | markdownify }}
    </div>
  </div>
{{- end -}}
