{{- define "main" -}}
  <div class="container container-1200">

    <!-- Commissioners -->
    <h2>Commissioners</h2>
    {{ with .Site.Data.people.people_group.commissioners_caption }}<p>{{ . }}</p>{{end}}
    <div class="people commisioners grid grid-three">
    {{ range (where .Site.Pages "Params.type" "commissioner").ByParam "subdistrict" }}
      <div class="person_text">
        <span class="name">{{ .Title }}</span>
        <p class="bio">
          Subdistrict: {{ .Params.subdistrict }}<br>
          Term Expires: {{ time.Format "Jan 2, 2006" .Params.date }}<br>
          {{ .Params.email }}
        </p>
        <div class="person_graphic">
          {{ if isset .Params "image" }}
          <img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="Profile of {{ .Params.title }}" />
          {{end}}
        </div>
      </div>
    {{ end }}
    </div>

    <hr>

    <!-- Officers -->
    <h2>Officers</h2>
    {{ with .Site.Data.people.people_group.officers_caption }}<p>{{ . }}</p>{{end}}
    <div class="people officers">
      {{ range (where .Site.Pages "Params.type" "volunteer").ByParam "rank" }}
      {{ if and (eq .Params.layout "officer") (.Params.active) }}
      <div class="person">
        <div class="person_graphic">
          {{ if isset .Params "image" }}
          <img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="Profile of {{ .Params.title }}" />
          {{else}}  
          <img src="{{ .Site.BaseURL }}media/IC-people-missing-image.png" style="opacity:.5;"/>
          {{end}}
        </div>
        <div class="person_text">
          <div><span class="rank">{{- trim (slicestr .Params.rank 2) " " -}}</span><span class="name">{{ .Params.title }}</span></div>
          <p class="bio">
            {{ .Content | plainify }}
          </p>
          {{ partial "badges.html" . }}
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
    <br><br>

    <hr>

    <!-- Volunteers -->
    <h2>Volunteers</h2>
    {{ with .Site.Data.people.people_group.volunteers_caption }}<p>{{ . }}</p>{{end}}
    <div class="people volunteers">
      {{ range (where .Site.Pages "Params.type" "volunteer").ByTitle }}
      {{ if and (ne .Params.layout "officer") (.Params.active) }}
      <!-- only wrap in details if bio and image are present -->
      {{ if  (isset .Params "image") }}
      <details>
      <summary>
      {{end}}
      <!-- Always Show This Section -->
      <div class="volunteer">
        <span>{{ .Title }}</span>
        {{ partial "badges.html" . }}
      </div>
      <!-- Bio and Image -->
      {{ if  (isset .Params "image") }}
      </summary>
        <div class="volunteer-bio">
          <div class="pic">
            <img src="{{ .Site.BaseURL }}{{ .Params.image }}">
          </div>
          {{ $mycerts := where .Params.badge "in" (slice "paramedic" "emt" "firefighter") }}
          <span class="titles">{{ (delimit $mycerts "/") | title }}</span>
          {{ $ageDays := div (sub now.Unix .Date.Unix) 86400 }}
          {{ $ageMonths := div (sub now.Unix .Date.Unix) 2592000 }}
          <span class="experience">{{ if gt $ageDays 730 }}{{math.Round (div $ageDays 365)}} years{{else}}{{math.Round (div $ageDays 30.42)}} months{{end}}</span>
          <div class="about"><p>{{ safeHTML .Content }}</p></div>
        </div>
       </details>
      {{end}}



      {{ end }}
      {{ end }}
    </div>

    <hr>

    <!-- Auxiliary -->
    <h2>Auxiliary</h2>
    {{ with .Site.Data.people.people_group.auxiliary_caption }}<p>{{ . | markdownify }}</p>{{end}}
    <div class="people speical">
      <ul>
      {{ range where .Site.RegularPages "Params.type" "auxiliary" }}
        <li>{{ .Title }}</li>
      {{ end }}
      </div>

    </div>

{{- end -}}
