{{- define "main" -}}
  <div class="container container-1200">
    <br>
	  <h2>{{ .Title }}</h2>

    <div class="section">
        <div class="grid grid-two">
          <div>
            <h3>News</h3>
            <div class="boom">
              <aside>
                <img src="{{ .Site.BaseURL }}media/ic-megaphone-white-128.png" alt="megaphone icon">
              </aside>
              <article>
                <p>It is your money and your communtiy. Stay informed about your GVFD.</p>
                <a href="{{ .Site.BaseURL }}news/" class="button">Browse News</a>
              </article>
              </div>
          </div>
          <div>
            <h3>Events</h3>
            <div class="boom">
              <aside>
                <img src="{{ .Site.BaseURL }}media/ic-calendar-white-128.png" alt="calendar icon">
              </aside>
              <article>
                <p>Fire, Fun, Free-stuff or Food. We always have something going on.</p>
                <a href="{{ .Site.BaseURL }}events/" class="button">Find Events</a>
              </article>
              </div>
          </div>
        </div>
      </div>

    <hr>

    <div class="section">
		  <div class="container-780 news">
			  {{ .Site.Data.resources.resource_body | markdownify }}
		  </div>
	  </div>

    <hr>

	  <div class="section">
	    <div class="grid">
        <div>
          <h3>Links</h3>
          <ul>
          {{ range .Site.Data.resources.resources_links }}
              <li><a href="{{ if hasPrefix .links_url "media" }}{{ $.Site.BaseURL }}{{ end }}{{ .links_url }}">{{ .links_text }}</a></li>
          {{ end }}
          </ul>
        </div>

        <div>
          <h3>Documents</h3>
          <ul>
          {{ range .Site.Data.resources.resources_documents }}
              <li><a href="{{ if hasPrefix .docs_url "media" }}{{ $.Site.BaseURL }}{{ end }}{{ .docs_url }}">{{ .docs_text }}</a></li>
          {{ end }}
          </ul>
        </div>

        <div>
          <h3>Public Info</h3>

          <ul>
          {{ range .Site.Data.resources.resources_public_info }}
              <li><a href="{{ if hasPrefix .info_url "media" }}{{ $.Site.BaseURL }}{{ end }}{{ .info_url }}">{{ .info_text }}</a></li>
          {{ end }}
          </ul>
        </div>

      </div>
    </div>

  </div>
{{- end -}}
