{{ define "main" }}
  <h1>{{ .Type | title }}</h1>
  <div class="news">
    {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) 5 }}
    {{ range $paginator.Pages }}
      <article>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span><br>
        {{ .Summary }}
        <a href="{{ .Permalink }}" class="readmore">keep reading</a>
      </article>
      <br><br>
    {{ end }}
  </div>
  <section>{{ partial "pagination.html" .}}</section>
{{ end }}
