    <div class="header">
      <div class="logowrap">
        <div>
          <a href="{{ .Site.BaseURL }}">
          <div class="logo">GVFD</div>
          <div class="dept-name">Garden Valley Fire Department</div>
          </a>
        </div>
	    <img src="{{ .Site.BaseURL }}media/logo_gardenvalleyfire-badge.png" >
      </div>
      <div class="nav-wrap">
        <nav>
        <ul>
          <li><a href="{{ .Site.BaseURL }}"><span>Home</span></a></li>
          <li><a href="{{ .Site.BaseURL }}about/"><span>About</span></a></li>
          <li><a href="{{ .Site.BaseURL }}resources/" title="News, Links, Documents and More"><span>Resources</span></a></li>
        </ul>
        </nav>
      </div>
    </div>
