<div class="section" style="overflow:hidden;position:relative;">
  <a href="{{ .Params.hero.hero_link }}" title="">
  <div class="hero-background" style="background-image:{{ .Site.BaseURL }}imgs/{{ .Params.background_image }};">
  <div class="hero-cta">
    <p style="color:{{ .Params.hero.text_color }};">{{ .Params.hero.hero_text }}</p>
    <span class="btnActionHome" role="button">{{ .Params.hero.button_text }}</span>
  </div>
  </div>
  </a>
</div>
