<!DOCTYPE html>
<html>
{{ partial "head.html" . }}

<body>
  <div class="grid-container">
  {{ partial "header.html" . }}

    <div class="content">
     {{ partial "byline.html" }}

    {{ range last 1 ((where .Site.RegularPages "Section" "heros").ByDate ) }}
		 <div class="section" style="overflow:hidden;position:relative;">
		  <a href="{{ .Params.hero_link }}" title="">
		  <div class="hero-background" style="background-image:url({{ .Site.BaseURL }}{{ .Params.hero_image }});">
		  <div class="hero-cta {{ .Params.cta_align }}">
			<p style="color:{{ .Params.cta_text_color }};">{{ .Params.cta_text }}</p>
			<span style="background-color:{{ .Params.btn_bg_color }};color:{{ .Params.btn_text_color }}" class="btnActionHome" role="button">{{ .Params.cta_btn_text }}</span>
		  </div>
		  </div>
		  </a>
		</div>  
    {{ end }}

      <style>
        .content h2 a{border-bottom: 6px dashed #172c40;padding-bottom: 6px;transition: border .7s;}
        .content h2 a:hover{border-bottom: 6px solid #ffe536;}
      </style>
      <div class="section">
      <div class="container">
        {{ partial "stat-styles.html" . }}
        {{ range last 1 ((where .Site.RegularPages "Section" "stats").ByDate ) }}
        <h2><a href="{{ .Site.BaseURL }}stats/" >Monthly Calls</a> for {{ .Date.Format "January, 2006" }}</h2> 
        <div class="stats-wrapper">
          <div class="stat stat--medical">
            <span class="stat-value">{{ .Params.stat_medical }}</span>
            <span class="stat-type">Medical</span>
          </div>
          <div class="stat stat--fire">
            <span class="stat-value">{{ .Params.stat_fire }}</span>
            <span class="stat-type">Fire</span>
          </div>
          <div class="stat stat--other">
            <span class="stat-value">{{ .Params.stat_other }}</span>
            <span class="stat-type">MVA/LEO/MISC</span>
          </div>
        </div>
        {{end}}
        <br><p><a href="{{ .Site.BaseURL }}stats/" class="readmore">Run History</a></p>
      </div>
      </div>

      {{ $n_posts := .Site.Data.settings.hp_counts.news_count | default 3 }}
      <div class="container-fluid separate">
      <div class="section">
        <div class="container-960">
          <div class="news">
              <h2>Recent <a href="{{ .Site.BaseURL }}news/" >News</a></h2>
              {{ range first $n_posts (where .Site.RegularPages "Section" "news") }}
              <div class="article-snippet">
                <a href="{{ .Permalink }}"><h3>{{ .Title }}</h3></a>
                <p><em>{{ dateFormat "January 2, 2006" .Date }}</em></p>
                <p>{{ .Summary }}
                {{ if .Truncated }}
                … <p><a href="{{ .Permalink }}" class="readmore">Read More</a></p>
                {{ end }}
                </p>
              </div>
              {{ end }}
          </div>
        </div>
      </div>
      </div>



<div class="section">
  <div class="container">
    <div class="events">
      <br>
      <h2>Upcoming <a href="{{ .Site.BaseURL }}events/" >Events</a></h2>

      {{ $i := int 1 }}
      {{ $e_posts := .Site.Data.settings.hp_counts.events_count | default 3 }}
      {{ range (where site.RegularPages "Section" "events").ByDate }}
      {{ if and (ge .Date now) (le $i $e_posts) }}
      <div class="event">
        
          <div class="event-calendar">
            <span class="event-date">{{ dateFormat "02" .Date }}</span>
            <span class="event-dow">{{ dateFormat "Monday" .Date }}</span>
            <span class="event-month">{{ dateFormat "Jan" .Date }}</span>
          </div>
          <div class="event-data">
            <div>
              <a href="{{ .Permalink }}"><h3 class="event-title">{{ .Title }}</h3></a>
              <p>{{ .Summary }}</p>
              {{ if .Truncated }}
              … <p><a href="{{ .Permalink }}" class="readmore">Read More</a></p>
              {{ end }}
            </div>
          </div>
        
      </div>
      {{ $i = add $i 1 }}
      {{ end }}
      {{ end }}
      {{if eq $i 1}}
        <p>No upcoming events to show.</p>
      {{end}}

    </div>
  </div>
</div>



	  </div>
{{ partial "footer.html" . }}
  </div>



</body>

</html>
